@use '../components/mixins' as *;
@use '../custom' as *;

.availability-count {
	@include general_typography(('Roboto', serif), 1rem, 600, 20px);
	color: $secondary;
	span {
		font-size: 0.8rem;
		font-size: 300;
		color: #998fa2;
	}
}

.filter-results__text{
  min-width: 108px;
}

.filterResults__btn-group {
	margin-top: 0.2rem;
  @include media-breakpoint-down(md){
    margin-top: 0rem;
  }
	span {
		margin: 0.2rem 0.3rem;
		label {
			background: white;
			padding: 2px 10px;
			color: $secondary;
			font-size: 13px;
			font-weight: normal;
			box-shadow: none;
			background-image: none;
			border: 1px solid $secondary;
			border-radius: 5px;
			text-transform: none;
			&:hover,
			&:focus {
				box-shadow: none;
			}
		}

		.btn-check:checked + label {
			background-color: $secondary;
			color: white;
		}
	}
}

.filterResults__title {
	font-size: 14px;
	font-weight: 500;
	color: $primary;
  padding: 0.2rem 0.5rem;
}

.filterResults__row{
  @include media-breakpoint-down(md){
    border-left: none !important;
  }
}

.filter-results__element{
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 20px;
  font-stretch: 100%;
  span{
    font-weight: 600;
  }
}

.date-table-container{
  max-height: 500px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
}

.centers-details{
  h5{
    color: $secondary;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
    span{
      color: #fff;
      font-size: 9px;
      font-weight: 600;
      background-color: #2152b3;
      border-radius: 20px;
      padding: 2px 5px;
      margin-left: 3px;
    }
  }
  

  p{
    font-size: 0.9rem;
    color: #998fa2;
    margin-bottom: 0.1rem;
    padding-bottom: 0;
  }

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      display: inline-block;
      color: #998fa2;
      font-size: 0.7rem;
      line-height: 0.7rem;
      font-weight: 600;
      margin-right: 0.6rem;
    }
  }
}
