@use '../custom' as *;

#carouselSection {
	.carousel-item {
		padding: 1.2rem;
	}

	.carousel-item-banner-bg {
		background-color: $banner-bg;
	}

	ol {
		bottom: 10px;
		li {
			background-color: rgba(255, 192, 2, 0.5);
			height: 3px;
			width: 30px;
			margin: 0 3px;
		}

		.active {
			background-color: #ffc002;
		}
	}

	// .display-2__title {
	// 	@include media-breakpoint-up(md) {
	// 		width: 50% !important;
	// 	}
	// }
}

.carousel-control-next,
.carousel-control-prev {
	width: unset;
}
