@use '../_custom.scss' as *;

#footer {
	background: $primary;
	color: #fff;
	padding: 30px 0 20px;

	.supportUl {
		@include media-breakpoint-down(lg) {
			border-right: none !important;
		}
	}

	h4 {
		font-size: 14px;
		font-weight: 400;
		text-align: left;
		margin-bottom: 1rem;

		@include media-breakpoint-down(md) {
			margin-top: 15px !important;
		}
	}

	ul {
		list-style: none;
		color: #fff;
		padding-left: 0;
		li {
			margin-bottom: 10px;
			a {
				color: #fff;
				font-size: 12px;
				font-weight: 300;
			}
		}
	}

	.footer__helpline {
		margin-top: 40px;
		p {
			font-size: 12px;
			font-weight: 300;
		}
		a {
			color: #fff;
			font-weight: 300;
		}
	}

	.bottom-footer {
		@include media-breakpoint-down(lg) {
			text-align: center;
		}
		align-items: flex-end;
		p {
			font-size: 12px;
			font-weight: 300;
			margin: 0;
		}
		a {
			color: #fff;
			font-weight: 300;
			font-size: 12px;
		}
	}

	.footer_copyright {
		@include media-breakpoint-down(lg) {
			order: 2;
			margin-top: 15px;
		}
	}
}
