@use '../custom' as *;

#getVaccinatedSection {
	text-align: center;
	h1 {
		color: $secondary;
		font-size: 2rem;
		font-weight: 400;
		line-height: 40px;
	}

	.card {
		border: 0;
		box-shadow: none;
	}

	.img-card {
		width: 140px;
		margin: 0 auto -50px;
		z-index: 99;
		@include media-breakpoint-up(lg) {
			width: 180px;
		}
	}
	p {
		a {
			font-size: 11px;
			text-decoration: underline;
		}
	}

	.card-text {
		font-size: 14px;
		font-weight: 600;
		color: $secondary;
		line-height: 21px;
		padding-top: 50px;
	}

	.card-body {
		background-color: #f7fcff;
		border-radius: 10px;
		box-shadow: 0 1px 2px #999;
		@include media-breakpoint-down(lg) {
			min-height: 230px;
		}
	}
}
