@use '../custom' as *;

#registration__container {
	height: 100%;
	max-width: 100%;
	.reg-footer {
		margin: 0;
		padding: 0;
		background-color: #001f60;
		width: 100%;
		position: relative;
		z-index: 2;
		.reg-footer__section {
			font-size: 14px;
			font-weight: 400;
			color: #fff;
			text-align: left;

			@include media-breakpoint-down(sm) {
				text-align: center;
			}

			ul {
				list-style: none;
				text-align: inherit;
				li {
					display: inline-block;
					a {
						color: #fff;
						margin-right: 8px;
						padding-right: 8px;
						text-decoration: none;
						font-size: 13px;
						line-height: 20px;
					}
				}
			}

			p {
				margin-bottom: 0;
			}
		}
	}
}

.registration_content {
	flex: 1;
	background-color: #f6f6f6;

	.registration-form__links {
		color: #9f9f9f !important;
		font-weight: 400;
		font-size: 13px !important;
		padding: 0 6%;
		a {
			background-color: transparent;
			color: #3880ff !important;
			text-decoration: underline !important;
		}
	}

	.registration-form__box {
		margin-top: 100px;
		text-align: center;

		background-color: #fff;
		padding: 10px 40px;
		// .registration-form {
		// 	// margin: 10px 25px;
		// }

		.image-icon {
			width: 120px;
			height: 120px;
			border-radius: 100%;
			background-color: #fff;
			margin: -80px auto 0;
			box-shadow: 0 2px 3px 0 rgb(0 0 0 / 19%);
			img {
				width: 80px;
				max-width: 100%;
				text-align: center;
				border: 0;
			}
		}

		h2 {
			color: #001f60;
			font-size: 22px;
			margin-bottom: 0;
			margin-top: 15px;
			font-weight: 600;
		}

		p {
			margin: 15px 0;
			font-size: 15px;
			color: #2e2e2e;
		}

		input {
			border: none;
			padding: 0;
			padding-bottom: 5px;
			border-bottom: 1px solid black;
			border-radius: 0;
			border-image-width: 0;
			box-shadow: none;
			-moz-appearance: textfield;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}

		.font-control {
			box-shadow: none;
		}

		.btn {
			margin-top: 20px;
			background-color: #002060 !important;
		}
	}

	.other-logins {
		p {
			color: #1b1a1a;
			font-size: 14px;
			margin-top: 10px;
			margin-bottom: 20px;
			font-weight: 600;
			position: relative;
			text-transform: uppercase;

			&::before {
				content: '';
				width: 20%;
				height: 1px;
				background: #ccc;
				position: absolute;
				top: 50%;
				left: 5px;
			}

			&::after {
				content: '';
				width: 20%;
				height: 1px;
				background: #ccc;
				position: absolute;
				top: 50%;
				right: 5px;
			}
		}
	}

	.using-other-block {
		.arogya-login,
		.umang-login {
			width: 50%;
			a {
				color: $secondary;
				font-size: 14px;
				border: 1px solid #ccc;
				text-decoration: auto;
				width: 90%;
				height: 45px;
				display: flex;
				align-items: center;
				justify-content: center;
				line-height: 1;
				margin: 0 auto;
				border-radius: 5px;
			}
		}

		.arogya-login {
			a {
				span {
					img {
						width: 26px;
						max-width: 100%;
						margin: 0;
						border: 0;
					}
					span {
						display: block;
						line-height: 1;
						font-size: 10px;
						font-weight: 700;
					}
				}
			}
		}

		.umang-login {
			color: $secondary;
			font-size: 12;
			a {
				img {
					width: 35px;
					margin: 0;
				}
			}
		}
	}

	.timer__container {
		.timer {
			font-size: 1rem !important;
			margin: 0 0 15px !important;
			color: #48ad51 !important;
			font-weight: 500;
		}

		.delay-text {
			color: #9f9f9f !important;
			font-weight: 400 !important;
			font-size: 13px !important;
			padding: 0 18% !important;
		}

		.resend-otp-btn {
			color: #002060;
			font-size: 15px;
			display: inline-block;
			cursor: pointer;
			&:hover {
				color: #998fa2;
			}
		}
	}
}
