@use '../components/mixins' as *;
@use '../_custom' as *;

#searchSection {
	h1 {
		font-size: 32px;
	}
	.nav-tabs {
		flex-wrap: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
		scrollbar-width: thin;
		.nav-item {
			white-space: nowrap;
			display: inline-block;

			.nav-link {
				text-transform: none;
				font-weight: 400;
				font-size: 0.8rem;
				color: $primary;
				min-width: 180px;
				text-align: center;
			}

			.active {
				border-bottom-width: 3px;
			}
		}

		::-webkit-scrollbar {
			-webkit-appearance: none;
			width: 10px;
			height: 2px;
		}

		::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: rgba(0, 0, 0, 0.5);
			box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
		}
	}

	.search__pin {
		width: 48%;
		margin: 0 auto;
		@include media-breakpoint-down(lg) {
			width: 70%;
		}

		@include media-breakpoint-down(sm) {
			width: 90%;
		}
	}

	.search__district {
		width: 60%;
		margin: 0 auto;
		@include media-breakpoint-down(lg) {
			width: 90%;
		}
	}
}

.select-option {
	min-height: 2rem !important;
	padding: 7px !important;
}

.MuiInput-underline {
	&::before,
	&::after {
		border-bottom: none !important;
	}
}

.MuiSelect-select {
	&:focus {
		background-color: transparent !important;
	}
	padding: 0.7rem 1.1rem !important;

	em {
		color: rgba(0, 0, 0, 0.42);
		text-transform: uppercase;
		font-style: normal;
	}
}

.MuiMenu-list {
	max-height: 20rem;
	overflow: auto;
}

.form-control__district {
	width: 100%;
}

#nearby-covid-places-mapmyindia {
	.mainContainer {
		display: flex !important;
		flex-direction: column;
		align-items: center;
		.mapSec,
		.mapContent {
			float: unset !important;
		}

		.mapSec {
			order: 2;
			width: 90%;
			height: 100%;
		}

		.mapContent > div:nth-child(2) {
			display: none;
		}
	}
}
