@use '../custom' as *;

#vaccinationDriveSection {
	h1 {
		color: $secondary;
		font-size: 2rem;
		font-weight: 400;
		line-height: 40px;
	}

	ul {
		list-style: none;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 10px 15px;
			.card {
				width: 240px;
				padding: 10px 15px;
				text-align: left;
				box-shadow: 0 0 4px rgb(0 30 95 / 40%);
				border-radius: 10px;
				background-color: #fff;

				.row {
					svg {
						width: 32px;
						height: 32px;
						color: $secondary;
						margin-top: 15px;
					}

					h6 {
						font-size: 11px;
						font-weight: 400;
					}

					h4 {
						font-size: 15px;
						font-weight: 600;
					}

					h5 {
						font-size: 13px;
						font-weight: 400;
						margin-bottom: 0;
						span {
							color: #2e9a00;
							font-weight: 500;
							font-size: 12px;
						}
					}
				}
			}
		}
	}

	.btn-view-dashboard {
		background-color: #fff;
		border-radius: 10px;
		color: $secondary;
		text-transform: uppercase;
		padding: 4px;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 12px;
		font-weight: 500;
		border: 0;
		box-shadow: 0 0 4px rgb(0 30 95 / 40%);
		svg {
			margin-left: 8px;
			font-weight: 500;
		}
	}
}
