@use '../custom' as *;
@use './mixins' as *;

.btn {
	@include general_typography(('Roboto', sheriff), 16px, 700, 20px);
	span {
		display: block;
		font-size: 0.8rem;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
}

.btn-rounded {
	text-transform: uppercase;
	border-radius: 30px;
}

.btn-yellow {
	color: $primary;
	background-color: rgb(255, 195, 2);
	border-color: rgb(255, 195, 2);
	&:hover {
		background-color: lighten($color: rgb(255, 195, 2), $amount: 5);
	}

	&:focus {
		color: $primary;
		background-color: rgb(255, 195, 2) !important;
		border-color: rgb(255, 195, 2) !important;
	}
}

.btn-light {
	&:focus {
		color: $primary;
		background-color: $white !important;
		border-color: $white !important;
	}
}

.searchBtn {
	font-size: 12px;
	font-weight: 700;
}

.preference-button {
	font-size: 13px;
	border-radius: 15px;
}
