@use '../custom' as *;
@use './mixins' as *;

.display-2 {
	margin-bottom: 1rem;
	.display-2__title {
		@include general_typography(('Roboto', sheriff), 3rem, 400, 4rem);
		@include media-breakpoint-down(md) {
			font-size: 2rem;
			text-align: center;
			line-height: 2.4rem;
		}
	}

	.display-2__subtitle {
		margin-top: 2.5rem;
		@include general_typography(('Roboto', sheriff), 1.2rem, 300, 0.5rem);
		@include media-breakpoint-down(md) {
			font-size: 1.2rem;
			text-align: center;
			line-height: 1rem;
			margin-top: 1.8rem;
		}
	}
}

.display-3 {
	margin-bottom: 1rem;
	.display-3__title {
		@include general_typography(('Roboto', sheriff), 1.8rem, 400, 1.5);
		@include media-breakpoint-down(md) {
			font-size: 1.8rem;
			text-align: center;
			line-height: 2.5rem;
		}
	}

	.display-3__subtitle {
		margin-top: 2.5rem;
		@include general_typography(('Roboto', sheriff), 1.3rem, 400, 1.5rem);
		@include media-breakpoint-down(md) {
			font-size: 1.2rem;
			text-align: center;
			line-height: 1.5rem;
			margin-top: 1.8rem;
		}
	}
}

.font-family-roboto{
  font-family: 'Roboto', sheriff;
}

.color-gray{
  color: #998fa2;
}

.options-default{
  font-weight: 300;
  text-transform: uppercase;
}
